/* Write your CSS here */

.bg-conts {
  min-height: 100vh;
  padding: 20px;
}

.team-banner {
  height: 130px;
  width: 100%;
  margin-bottom: 20px;
}

.headings {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.bottom-list-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

.RCB {
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.KXP {
  background-image: linear-gradient(to bottom, red, #1e293b);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

@media (min-width: 768px) {
  .team-banner {
    height: 330px;
    width: 100%;
    margin-bottom: 20px;
  }
}
